<div class="form-group" ng-class="{ 'has-error': userDetailsForm.user.newPassword.$touched && userDetailsForm.user.newPassword.$invalid }">
    <label class="col-md-2 control-label">New Password</label>
    <div class="col-md-10">
        <input type="password" name="newPassword" class="form-control" ng-model="vm.user.newPassword" ng-required="vm.passwordRequired" minLength="6" valid-password />
        <span ng-messages="userDetailsForm.newPassword.$error" role="alert" class="z-decorator">
            <span ng-message="required" class="invalid">'New Password' is mandatory</span>
            <span ng-message="minLength" class="invalid">must be at least 6 characters long</span>
            <span ng-message="validPassword" class="invalid">must contain an uppercase and a lowercase letter, a number and a character which is neither a letter or number</span>
        </span>
    </div>
</div>
<div class="form-group" ng-class="{ 'has-error': userDetailsForm.user.confirmPassword.$touched && userDetailsForm.user.confirmPassword.$invalid }">
    <label class="col-md-2 control-label">Confirm New Password</label>
    <div class="col-md-10">
        <input type="password" name="confirmPassword" class="form-control"
               ng-model="vm.user.confirmPassword"
               ng-required="vm.passwordRequired" compare-to="vm.user.newPassword" />
        <span ng-messages="userDetailsForm.confirmPassword.$error" role="alert" class="z-decorator">
            <span ng-message="required" class="invalid">'Confirm Password' is mandatory</span>
            <span ng-message="compareTo" class="invalid">Passwords do not match</span>
        </span>
    </div>
</div>