<section id="course-view" class="mainbar" data-ng-controller="resetPassword as vm">
    <section class="matter">
        <div class="container col-md-12">
            <h1>Reset Password</h1>
            <form name="resetPasswordForm" novalidate class="form-horizontal col-md-9"
                  ng-submit="vm.submit(vm.user)">

                <div class="form-group" ng-class="{ 'has-error': resetPasswordForm.user.newPassword.$touched && resetPasswordForm.user.newPassword.$invalid }">
                    <label class="col-md-2 control-label">New Password</label>
                    <div class="col-md-10">
                        <input type="password" name="newPassword" class="form-control" ng-model="vm.user.newPassword" required minLength="6" valid-password/>
                        <span ng-messages="resetPasswordForm.newPassword.$error" role="alert" class="z-decorator">
                            <span ng-message="required" class="invalid">'New Password' is mandatory</span>
                            <span ng-message="minLength" class="invalid">must be at least 6 characters long</span>
                            <span ng-message="validPassword" class="invalid">must contain an uppercase and a lowercase letter, a number and a character which is neither a letter or number</span>
                        </span>
                    </div>
                </div>
                <div class="form-group" ng-class="{ 'has-error': resetPasswordForm.user.confirmPassword.$touched && resetPasswordForm.user.confirmPassword.$invalid }">
                    <label class="col-md-2 control-label">Confirm New Password</label>
                    <div class="col-md-10">
                        <input type="password" name="confirmPassword" class="form-control"
                               ng-model="vm.user.confirmPassword"
                               required compare-to="vm.user.newPassword" />
                        <span ng-messages="resetPasswordForm.confirmPassword.$error" role="alert" class="z-decorator">
                            <span ng-message="required" class="invalid">'Confirm Password' is mandatory</span>
                            <span ng-message="compareTo" class="invalid">Passwords do not match</span>
                        </span>
                    </div>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary" ng-disabled="!resetPasswordForm.$valid">Change Password</button>
                </div>
            </form>
         </div>
    </section>
</section>