<section id="course-view" class="mainbar" data-ng-controller="updateMyDetails as vm">
    <section class="matter">
        <div class="container col-md-12">
            <h2>Update My Details</h2>
            <div ng-if="vm.isLoggedIn">
                <a href="#!/changePassword">Click here</a> to change password
            </div>
            <form ng-submit="vm.submit(userDetailsForm)" name="userDetailsForm" class="form-horizontal col-md-9">
                
                <div ng-include="'app/user/userDetails.html'"></div>

                <div class="form-group">
                    <label for="institution" class="control-label col-md-2">Institution</label>
                    <div class="col-md-10">
                        <select id="institution" class="form-control" data-ng-model="vm.institution" ng-change="vm.filterRoles"
                                ng-options="i as i.name group by i.culture.name for i in vm.institutions"></select>
                        <span class="text-danger" />
                    </div>
                </div>

                <div class="form-group">
                    <label for="cpDepartment" class="control-label col-md-2">Department</label>
                    <div class="col-md-10">
                        <select id="cpDepartment" class="form-control" data-z-validate data-ng-options="d as d.name for d in vm.institution.departments"
                                data-ng-model="vm.participant.department">
                            <option value="" disabled="disabled">
                                Select Department...
                            </option>
                        </select>
                    </div>
                </div>

                <div ng-if="!vm.isLoggedIn" ng-include="'app/account/newPasswordTemplate.html'"></div>

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <button type="submit" ng-disabled="vm.disableSave()" class="btn btn-success">{{vm.isLoggedIn?'Save':'Save & Finish'}}</button>
                    </div>
                </div>
            </form>
        </div>
    </section>
</section>
