<section id="dashboard-view" class="mainbar" ng-controller="myCourseInvites as vm">
    <section class="matter">
        <div class="container">
            <form class="form-horizontal" ng-submit="vm.sendAcceptance()">
                <fieldset id="courses">
                    <legend>Courses:</legend>
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Date</th>
                                <th>Course</th>
                                <th>Department</th>
                                <th>Faculty</th>
                                <th>Accept</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="course in vm.courses track by course.id">
                                <td>{{course.startUtc | amDateFormat:'llll'}} - {{course.finish | amDateFormat:'llll'}}</td>
                                <td>{{course.courseFormat.typeFormatDescriptor}}</td>
                                <td>{{course.department.abbreviation}}</td>
                                <td>{{course.facultyCount}}/{{course.facultyNoRequired}}</td>
                                <td><input type="checkbox" ng-model="course.accept" ng-disabled="course.facultyCount >= course.facultyNoRequired" />
                                <span ng-if="course.facultyCount >= course.facultyNoRequired" class="ng-warning">Full</span></td>
                            </tr>
                        </tbody>
                    </table>
                    <button class="btn btn-success" type="submit">Save &amp; download calendar</button>
                </fieldset>
            </form>
            <iframe style="display:none;" ng-src="{{vm.downloadFileUrl}}"></iframe>
        </div>
    </section>
</section>
