<section id="course-view" class="mainbar" data-ng-controller="course as vm">
    <section class="matter">
        <div class="container col-md-12">
            <form class="form-horizontal" ng-submit="vm.save($event)" id="courseForm">
                <div class="col-md-6">
                    <fieldset>
                        <legend>Required</legend>
                        <div class="form-group">
                            <label for="department" class="col-md-2 control-label">Department</label>
                            <div class="col-md-10">

                                <select id="department" class="form-control" data-z-validate data-ng-model="vm.course.department" ng-options="d as d.name group by d.institution.name for d in vm.departments">
                                    <option disabled selected hidden value="">
                                        Select Department...
                                    </option>
                                </select>
                                <span class="text-danger" />
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="courseFormat" class="col-md-2 control-label">Course Type</label>
                            <div class="col-md-10">
                                <select id="courseFormat" class="form-control" data-z-validate data-ng-options="cf as cf.typeFormatDescriptor group by cf.courseType.description for cf in vm.courseFormats" data-ng-model="vm.course.courseFormat">
                                    <option disabled selected hidden value="">
                                        Select Course Type/Format...
                                    </option>
                                </select>
                                <span class="text-danger" />
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="startDate" class="col-md-2 control-label">Course Start</label>
                            <div class="col-md-5" id="startTimeGroup">
                                <div class="input-group" >
                                    <span class="input-group-addon">
                                        <i class="fa fa-calendar"></i>
                                    </span>
                                    <input id="startDate" class="form-control" ng-model="vm.course.startTime" data-autoclose="1" placeholder="Date" bs-datepicker type="text"
                                           data-min-date="{{vm.minDate}}" data-max-date="{{vm.maxDate}}" z-validate z-append-to="#startTimeGroup">

                                </div>
                            </div>
                            <div class="col-md-5">
                                <div class="input-group">
                                    <span class="input-group-addon">
                                        <i class="fa fa-clock-o"></i>
                                    </span>
                                    <input class="form-control" ng-model="vm.course.startTime" data-time-format="shortTime" data-autoclose="1" placeholder="Time" bs-timepicker type="text" />
                                </div>

                            </div>
                        </div>

                        <div class="form-group">
                            <label for="courseType" class="col-md-2 control-label">Location</label>
                            <div class="col-md-10">
                                <select id="courseType" class="form-control" data-z-validate data-ng-model="vm.course.room" data-ng-options="r as r.shortDescription group by r.department.name for r in vm.rooms">
                                    <option disabled selected hidden value="">
                                        Select Room...
                                    </option>
                                </select>
                                <span class="text-danger" />
                            </div>
                        </div>

                    </fieldset>

                    <fieldset>
                        <legend class="small">Optional</legend>
                        <div class="form-group">
                            <label for="planningDate" class="col-md-2 control-label">Planning Meeting</label>
                            <div class="col-md-5">
                                <div class="input-group">
                                    <span class="input-group-addon">
                                        <i class="fa fa-calendar"></i>
                                    </span>
                                    <input id="planningDate" class="form-control" ng-model="vm.course.facultyMeetingTime" data-autoclose="1" placeholder="Date" bs-datepicker type="text"
                                           data-min-date="{{vm.minDate}}" data-max-date="{{vm.maxDate}}" z-validate>

                                </div>
                            </div>
                            <div class="col-md-5">
                                <div class="input-group">
                                    <span class="input-group-addon">
                                        <i class="fa fa-clock-o"></i>
                                    </span>
                                    <input class="form-control" ng-model="vm.course.facultyMeetingTime" data-time-format="shortTime" data-autoclose="1" placeholder="Time" bs-timepicker type="text" />
                                </div>

                            </div>
                        </div>

                        <div class="form-group">
                            <label for="outreachingDepartment" class="col-md-2 control-label">Outreaching Department</label>
                            <div class="col-md-10">

                                <select id="outreachingDepartment" class="form-control" data-z-validate data-ng-model="vm.course.outreachingDepartment" ng-options="d as d.name group by d.institution.name for d in vm.departments">
                                    <option value="">
                                        Not Applicable
                                    </option>
                                </select>
                                <span class="text-danger" />
                            </div>
                        </div>
                    </fieldset>
                    <div class="form-group">
                        <div class="col-md-offset-6 col-md-6">
                            <button type="submit" data-ng-disabled="vm.disableSave()" class="btn btn-success">Save</button>
                            <a class="btn btn-info" ng-href="#/courseRoles/{{vm.course.id}}">
                                <i class="fa fa-arrow-right"></i>Assign Roles
                            </a>
                        </div>
                    </div>
               </div>
            </form>
            <div class="col-md-6">
                <div>
                    <fieldset>
                        <legend>Faculty</legend>
                        <div>
                            <table class="table table-condensed table-striped">
                                <thead>
                                    <tr>
                                        <th>
                                            Name
                                        </th>
                                        <th>
                                            Role
                                        </th>
                                        <th>
                                            Organiser
                                        </th>
                                        <th>
                                            Confirmed
                                        </th>
                                        <th>
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="cp in vm.course.courseParticipants | filter:{isFaculty:'true'}">
                                        <td>
                                            {{cp.participant.fullName}}
                                        </td>
                                        <td>
                                            {{cp.participant.professionalRole.category}}
                                        </td>
                                        <td>
                                            <input type="checkbox" ng-checked="cp.isOrganiser" />
                                        </td>
                                        <td>
                                            <input type="checkbox" ng-checked="cp.isConfirmed" />
                                        </td>
                                        <td>
                                            <button type="button" class="btn-link" ng-click="vm.deleteCourseParticipant(cp.participantId)">Remove</button> |
                                            <button type="button" class="btn-link" ng-click="vm.openCourseParticipant(cp.participantId)">Edit</button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <button class="btn-link" type="button" ng-click="vm.openCourseParticipant('newFaculty')" ng-disabled="vm.course.entityAspect.entityState.isAdded()"
                                data-trigger="hover" data-type="danger" data-animation="am-flip-x" data-title="Please save the course first" bs-tooltip bs-enabled="vm.course.entityAspect.entityState.isAdded()" >
                            Add Faculty Member
                        </button>
                    </fieldset>
                </div>
                <div class="form-group">
                    &nbsp;
                    <hr/>
                    &nbsp;
                </div>
                <div>
                    <fieldset>
                        <legend>Participants</legend>
                        <div>
                            <table class="table table-condensed table-striped">
                                <thead>
                                    <tr>
                                        <th>
                                            Name
                                        </th>
                                        <th>
                                            Role
                                        </th>
                                        <th>
                                            Confirmed
                                        </th>
                                        <th>
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="cp in vm.course.courseParticipants | filter:{isFaculty:'false'}">
                                        <td>
                                            {{cp.participant.fullName}}
                                        </td>
                                        <td>
                                            {{cp.participant.professionalRole.description}}
                                        </td>
                                        <td>
                                            <input type="checkbox" ng-checked="cp.isConfirmed" />
                                        </td>
                                        <td>
                                            <button type="button" class="btn-link" ng-click="vm.deleteCourseParticipant(cp.participantId)">Remove</button> |
                                            <button type="button" class="btn-link" ng-click="vm.openCourseParticipant(cp.participantId)">Edit</button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <button class="btn-link" type="button" ng-click="vm.openCourseParticipant('newParticipant')" ng-disabled="vm.course.entityAspect.entityState.isAdded()"
                               data-trigger="hover" data-type="danger" data-animation="am-flip-x" data-title="Please save the course first" bs-tooltip bs-enabled="vm.course.entityAspect.entityState.isAdded()" >
                            Add Participant
                        </button>
                    </fieldset>
                </div>
            </div>
        </div>
    </section>
</section>