<section id="dashboard-view" class="mainbar" data-ng-controller="course as vm">
    <section class="matter">
        <div class="container col-md-12">
            <form class="form-horizontal" ng-submit="vm.save($event)" id="courseForm">
                <div class="col-md-6">

                    <div class="form-group">
                        <label for="department" class="col-md-2 control-label">Department</label>
                        <div class="col-md-10">

                            <select id="department" class="form-control" data-z-validate data-ng-model="vm.course.department" ng-options="d as d.name group by d.institution.name for d in vm.departments">
                                <option disabled selected hidden value="">
                                    Select Department...
                                </option>
                            </select>
                            <span class="text-danger" />
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="courseType" class="col-md-2 control-label">Course Type</label>
                        <div class="col-md-10">
                            <select id="courseType" class="form-control" data-z-validate data-ng-options="ct as ct.description for ct in vm.courseTypes" data-ng-model="vm.course.courseType">
                                <option disabled selected hidden value="">
                                    Select Course Type...
                                </option>
                            </select>
                            <span class="text-danger" />
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="date" class="col-md-2 control-label time-accompany">Start Time</label>
                        <div class="col-md-10">
                            <div class="col-md-6 time-accompany align-form-group">
                                <div class="input-group">
                                    <input id="date" type="text" class="form-control" uib-datepicker-popup="{{vm.dateFormat}}" ng-model="vm.course.startTime"
                                           is-open="vm.dpPopup.isOpen" min-date="vm.minDate" max-date="vm.maxDate"
                                           ng-required="true" close-text="Close" placeholder="Date" />
                                    <span class="input-group-btn">
                                        <button type="button" class="btn btn-default" ng-click="vm.openDp()"><span class="glyphicon glyphicon-calendar"></span></button>
                                    </span>
                                </div>
                            </div>
                            <div class="col-md-6 form-group">
                                <uib-timepicker ng-model="vm.course.startTime" hour-step="1" minute-step="5" show-meridian="true"></uib-timepicker>
                            </div>
                        </div>
                    </div>


                    <div class="form-group">
                        <label for="courseType" class="col-md-2 control-label">Location</label>
                        <div class="col-md-10">
                            <select id="courseType" class="form-control" data-z-validate data-ng-model="vm.course.room" data-ng-options="r as r.shortDescription group by r.department.name for r in vm.rooms">
                                <option disabled selected hidden value="">
                                    Select Room...
                                </option>
                            </select>
                            <span class="text-danger" />
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-offset-10 col-md-1">
                            <button type="submit" data-ng-disabled="vm.disableSave()" class="btn btn-primary">Save</button>
                        </div>
                    </div>
                </div>
            </form>
            <div class="col-md-6">
                <div>
                    <fieldset>
                        <legend>Faculty</legend>
                        <div>
                            <table class="table table-condensed table-striped">
                                <thead>
                                    <tr>
                                        <th>
                                            Name
                                        </th>
                                        <th>
                                            Role
                                        </th>
                                        <th>
                                            Organiser
                                        </th>
                                        <th>
                                            Confirmed
                                        </th>
                                        <th>
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="cp in vm.course.courseParticipants | filter:{isFaculty:'true'}">
                                        <td>
                                            {{cp.participant.fullName}}
                                        </td>
                                        <td>
                                            {{cp.participant.professionalRole.category}}
                                        </td>
                                        <td>
                                            <input type="checkbox" ng-checked="cp.isOrganiser" />
                                        </td>
                                        <td>
                                            <input type="checkbox" ng-checked="cp.isConfirmed" />
                                        </td>
                                        <td>
                                            <button type="button" class="btn-link" ng-click="vm.deleteCourseParticipant(cp.participantId)">Remove</button> |
                                            <button type="button" class="btn-link" ng-click="vm.openCourseParticipant(cp.participantId)">Edit</button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <button class="btn-link" type="button" ng-click="vm.openCourseParticipant('newFaculty')" ng-disabled="vm.course.entityAspect.entityState.isAdded()"
                                uib-tooltip="Please save the course first" tooltip-enable="vm.course.entityAspect.entityState.isAdded()" >Add Faculty Member</button>
                    </fieldset>
                </div>
                <div class="form-group">
                    &nbsp;
                    <hr/>
                    &nbsp;
                </div>
                <div>
                    <fieldset>
                        <legend>Participants</legend>
                        <div>
                            <table class="table table-condensed table-striped">
                                <thead>
                                    <tr>
                                        <th>
                                            Name
                                        </th>
                                        <th>
                                            Role
                                        </th>
                                        <th>
                                            Confirmed
                                        </th>
                                        <th>
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="cp in vm.course.courseParticipants | filter:{isFaculty:'false'}">
                                        <td>
                                            {{cp.participant.fullName}}
                                        </td>
                                        <td>
                                            {{cp.participant.professionalRole.description}}
                                        </td>
                                        <td>
                                            <input type="checkbox" ng-checked="cp.isConfirmed" />
                                        </td>
                                        <td>
                                            <button type="button" class="btn-link" ng-click="vm.deleteCourseParticipant(cp.participantId)">Remove</button> |
                                            <button type="button" class="btn-link" ng-click="vm.openCourseParticipant(cp.participantId)">Edit</button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <button class="btn-link" type="button" ng-click="vm.openCourseParticipant('newParticipant')" ng-disabled="vm.course.entityAspect.entityState.isAdded()"
                                uib-tooltip="Please save the course first" tooltip-enable="vm.course.entityAspect.entityState.isAdded()" >Add Participant</button>
                    </fieldset>
                </div>
            </div>
        </div>
    </section>
</section>