<section class="mainbar" ng-controller="manikinModels as vm">
    <section class="matter">
        <div class="container">
            <button class="btn-link" ng-click="vm.editManufacturer('new')"><i class="fa fa-plus-circle"></i> New Manufacturer</button>
            <button class="btn-link" ng-click="vm.editModel('new')"><i class="fa fa-plus-circle"></i> New Model</button>
            <ul>
                <li ng-repeat="man in vm.manufacturers track by man.id">
                    <h3>{{man.name}} <button class="btn-link" ng-click="vm.editManufacturer(man)"><i class="fa fa-edit"></i></button></h3> 
                    <ul>
                        <li ng-repeat="model in man.manikinModels track by model.id">
                            {{model.description}} 
                            <button class="btn-link" ng-click="vm.editModel(model)"><i class="fa fa-edit"></i></button>
                            <!--
                            <button class="btn-link" ng-click="model.entityAspect.setDeleted()"><i class="fa fa-trash"></i></button>
                                -->
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </section>
</section>