<section id="course-view" class="mainbar" data-ng-controller="updateDetails as vm">
    <section class="matter">
        <div class="container col-md-12">
            <h2>Update My Details</h2>
            <div>
                <a href="#/changePassword">Click here</a> to change password
            </div>
            <form ng-submit="vm.submit()" name="updateDetailsForm" class="form-horizontal col-md-9">
                <div class="form-group">
                    <label for="fullName" class="control-label col-md-2">Full Name</label>
                    <div class="col-md-10">
                        <input class="form-control" id="fullName" type="text" ng-model="vm.participant.fullName" data-z-validate />
                    </div>
                </div>

                <div class="form-group">
                    <label for="fullName" class="control-label col-md-2">Username</label>
                    <div class="col-md-10">
                        <input class="form-control" id="username" type="text" ng-model="vm.participant.userName" data-z-validate /> 
                    </div>
                </div>

                <div class="form-group">
                    <label for="email" class="control-label col-md-2">Work Email</label>
                    <div class="col-md-10">
                        <input class="form-control" type="text" id="email" data-z-validate ng-model="vm.participant.email" />
                    </div>
                </div>

                <div class="form-group">
                    <label for="alternateEmail" class="control-label col-md-2">Personal Email</label>
                    <div class="col-md-10">
                        <input class="form-control" id="alternateEmail" type="text" data-z-validate ng-model="vm.participant.alternateEmail" />
                    </div>
                </div>

                <div class="form-group">
                    <label for="phoneNumber" class="control-label col-md-2">Mobile</label>
                    <div class="col-md-10">
                        <div class="input-group">
                            <span class="input-group-addon">(+{{vm.institution.culture.countryCode}})</span>
                            <input class="form-control" type="text" id="phoneNumber" data-z-validate ng-model="vm.participant.phoneNumber" />
                        </div>
                    </div>
                </div>

                <!--note eventually above 3 inputs might be type = email & tel -->

                <div class="form-group">
                    <label for="professionalRole" class="control-label col-md-2">Professional Role</label>
                    <div class="col-md-10">
                        <select id="professionalRole" class="form-control" data-z-validate data-ng-options="pr as pr.description group by pr.category for pr in vm.professionalRoles"
                                data-ng-model="vm.participant.professionalRole" >
                            <option value="" disabled="disabled">
                                Select Professional Role...
                            </option>
                        </select>
                    </div>
                </div>

                <div class="form-group">
                    <label for="institution" class="control-label col-md-2">Institution</label>
                    <div class="col-md-10">
                        <select id="institution" class="form-control" data-ng-model="vm.institution"
                                ng-options="i as i.name group by i.culture.name for i in vm.institutions"></select>
                        <span class="text-danger" />
                    </div>
                </div>

                <div class="form-group">
                    <label for="cpDepartment" class="control-label col-md-2">Department</label>
                    <div class="col-md-10">
                        <select id="cpDepartment" class="form-control" data-z-validate data-ng-options="d as d.name for d in vm.institution.departments"
                                data-ng-model="vm.participant.department">
                            <option value="" disabled="disabled">
                                Select Department...
                            </option>
                        </select>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <button type="submit" ng-disabled="vm.disableSave()" class="btn btn-success">Save</button>
                    </div>
                </div>
            </form>
        </div>
    </section>
</section>
