<section id="dashboard-view" class="mainbar" data-ng-controller="dashboard as vm">
    <section class="matter">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <div class="panel-title">
                                <h4>
                                    Your Next Upcoming Course:
                                </h4>
                                <ul class="list-unstyled" id="nextApptDetails">
                                    <li>
                                        <span class="fa fa-calendar-check-o" data-ng-switch="vm.loginState"> 
                                            <span data-ng-switch-when="active">
                                                {{vm.nextUserCourse.startUtc | amDateFormat:'LL'}}
                                            </span>
                                            <span data-ng-switch-when="inactive">
                                                no upcoming courses
                                            </span>
                                            <span data-ng-switch-when="notLoggedIn">
                                                sign in to find out when...
                                            </span>
                                        </span> 
                                    </li>
                                    <li>
                                        <span class="fa fa-clock-o"> 
                                            <small data-ng-switch="vm.loginState">
                                                <span data-ng-switch-when="active" am-time-ago="vm.nextUsercourse.startTime">
                                                    {{vm.nextUserCourse.startUtc | amDateFormat:'LT'}}
                                                </span>
                                                <span data-ng-switch-when="inactive">
                                                    create a new course?
                                                </span>
                                                <span data-ng-switch-when="notLoggedIn">
                                                    (hopefully very soon)
                                                </span>
                                            </small>
                                        </span>
                                    </li>
                                    <li>
                                        <span class="fa fa-university" data-ng-switch="vm.loginState"> 
                                            <span data-ng-switch-when="notLoggedIn">
                                                [institution]
                                            </span>
                                            <span data-ng-switch-when="active">
                                                {{vm.nextUserCourse.department.institution.name}}
                                            </span>

                                        </span>
                                    </li>
                                    <li>
                                        <span class="fa fa-cubes" data-ng-switch="vm.loginState">
                                            <span data-ng-switch-when="notLoggedIn">
                                                [department]
                                            </span>
                                            <span data-ng-switch-when="active">
                                                {{vm.nextUserCourse.department.name}}
                                            </span>

                                        </span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="panel panel-success">
                        <div class="panel-heading clickable" ng-class="{collapsed:vm.isAboutCollapsed}" ng-click="vm.isAboutCollapsed = !vm.isAboutCollapsed">
                            <h4 class="panel-title">
                                About Simulation Planner<span class="chevron"></span>
                            </h4>
                        </div>
                        <div id="about" class="panel-body panel-collapse collapse" uib-collapse="vm.isAboutCollapsed">
                            Simulation Planner is a tool originally designed by and for the Starship Hospital Simulation Program to simplify
                            organising medical simulation courses and keeping track of institution wide data, including:
                            <ul>
                                <li>Faculty and participants attending a course <br/><small class="small">(including auto-notification and tracking <span class="fa fa-mail-reply"> reply confirmation</span> by <span class="fa fa-envelope-o"> email</span> ± <span class="fa fa-mobile"> text message</span>)</small></li>
                                <li>Developing course timetables</li>
                                <li>Which scenarios are to be run during a course <br/>
                                    <small class="small">
                                        And checking which scenarios participants have previously completed, to avoid repeating scenarios
                                    </small>
                                </li>
                                <li>Faculty member roles - including lectures, activities and scenario roles (e.g. debriefing, sim director)</li>
                                <li>Producing annual reports of simulation activity, as a whole institution and by department</li>
                                <li>Track total hours simulation time (and thereby lifespan) for each manikin <small>(including time spent away for service and service costs)</small></li>
                            </ul>
                            It is free to use for institutions such as hospitals and universities
                            <small class="small">(a small fee may be charged per text messaging reminder if you choose to use the text messaging service)</small>.
                        </div>
                        <div class="panel-footer">
                            <ul>
                                <li>
                                    Any ideas or comments? Please <a href="mailto:info@sim-planner.com" class="fa fa-link"> let us know</a> so we can make SimPlanner better
                                </li>
                                <li>
                                    <a class="fa fa-graduation-cap" href="#!/tutorials">Click here</a> to learn how to use Sim-Planner
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="panel panel-info">
                        <div class="panel-heading clickable"  ng-class="{collapsed:vm.isSummaryCollapsed}" ng-click="vm.isSummaryCollapsed = !vm.isSummaryCollapsed">
                            <h4 class="panel-title"><span class="fa fa-bar-chart"></span>Your Summary Data<span class="chevron"></span></h4>
                        </div>
                        <div id="priorCourses" class="panel-body panel-collapse collapse in" uib-collapse="vm.isSummaryCollapsed">
                            <table class="table table-condensed table-striped">
                                <thead>
                                    <tr>
                                        <th>
                                            Course Name
                                        </th>
                                        <th>
                                            Faculty
                                        </th>
                                        <th>
                                            Participant
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="c in vm.summaryData.courseSummary">
                                        <td>{{c.courseName}}</td>
                                        <td>{{c.facultyCount}}</td>
                                        <td>{{c.atendeeCount}}</td>
                                    </tr>
                                </tbody>
                            </table>
                            <h6>
                                Simulation Roles
                            </h6>
                            <table class="table table-condensed table-striped">
                                <thead>
                                    <tr>
                                        <th>
                                            Role Name
                                        </th>
                                        <th>
                                            No.
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="c in vm.summaryData.simRoleSummary">
                                        <td>{{c.roleName}}</td>
                                        <td>{{c.count}}</td>
                                    </tr>
                                </tbody>
                            </table>
                            <h6>
                                Other Roles
                            </h6>
                            <table class="table table-condensed table-striped">
                                <thead>
                                    <tr>
                                        <th>
                                            Description
                                        </th>
                                        <th>
                                            No.
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="c in vm.summaryData.presentationSummary">
                                        <td>{{c.description}}</td>
                                        <td>{{c.count}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="panel-footer">
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="panel panel-warning">
                        <div class="panel-heading clickable" ng-class="{collapsed:vm.isCoursesCollapsed}" ng-click="vm.isCoursesCollapsed = !vm.isCoursesCollapsed">
                            <h4 class="panel-title">
                                Upcoming Courses @ Your Institution<span class="chevron"></span>
                            </h4>
                        </div>
                        <div id="upcomingCourses" class="panel-body panel-collapse collapse in" uib-collapse="vm.isCoursesCollapsed">
                            <table class="table table-condensed table-striped">
                                <thead>
                                    <tr>
                                        <th>Date</th>
                                        <th>Department</th>
                                        <th>Location</th>
                                        <th>Involving You</th>
                                        <td><small class="small">edit</small></td>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr data-ng-repeat="c in vm.upcomingCourses track by c.id">
                                        <td>{{c.startUtc | amDateFormat:'L'}}</td>
                                        <td>{{c.department.abbreviation}}</td>
                                        <td>
                                            <a data-trigger="hover" data-type="info" data-animation="am-flip-x" data-title="{{c.room.directions}}" bs-tooltip >
                                                {{c.room.shortDescription}}
                                            </a>
                                        </td>
                                        <td><input type="checkbox" disabled="disabled" data-ng-checked="c.includesCurrentUser" /></td>
                                        <td><a ng-href="#!/course/{{c.id}}" class="btn-link"><i class="fa fa-edit"></i></a></td>
                                    </tr>
                                </tbody>
                                <tfoot data-ng-if="!vm.upcomingCourses.length">
                                    <tr>
                                        <td colspan="4" class="text-center">
                                            No courses found
                                        </td>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                        <div class="panel-footer">
                            <div class="clearfix"></div>
                        </div>
                        </div>
                    </div>
                </div>
        </div>
    </section>
</section>