<div class="aside mainbox" id="activityResourceBox" tabindex="-1" role="dialog">
    <div class="aside-dialog">
        <div class="aside-content">
                <div class="aside-header">
                    <button class="close" type="button" ng-click="ar.close()">&times;</button>
                    <h4 class="aside-title">
                        {{ar.courseActivity.name}} choices
                    </h4>
                </div>
                <div class="aside-body">
                    <form id="courseParticipantForm" ng-submit="ar.save()">
                        <button type="button" class="btn-link" ng-click="ar.createActivityResource()" ng-disabled="ar.selectedActivityResource.entityAspect.hasValidationErrors" 
                                data-trigger="hover" data-type="danger" data-animation="am-flip-x" data-title="Please fix current errors first" bs-tooltip bs-enabled="ar.selectedActivityResource?ar.selectedActivityResource.entityAspect.hasValidationErrors:false">
                            Create new choice
                        </button>
                        <ul class="list-unstyled">
                            <li ng-repeat="ac in ar.courseActivity.activityChoices track by ac.id" class="clearfix">
                                {{ac.description}} 
                                <span class="pull-right">
                                    <button type="button" class="btn-link" ng-click="ar.selectActivityResource(ac)" ng-disabled="ar.selectedActivityResource.entityAspect.hasValidationErrors" 
                                            data-trigger="hover" data-type="danger" data-animation="am-flip-x" data-title="Please fix current errors first" bs-tooltip bs-enabled="ar.selectedActivityResource?ar.selectedActivityResource.entityAspect.hasValidationErrors:false">
                                        <i class="fa fa-edit"></i>
                                    </button> |
                                    <button type="button" class="btn-link" ng-click="ar.deleteResource(ac)"><i class="fa fa-trash-o"></i></button>
                                </span>
                            </li>
                        </ul>

                        <div class="form-group">
                            <label for="resourceName" class="control-label">Name</label>
                            <div>
                                <input type="text" id="resourceName" class="form-control" data-z-validate
                                       data-ng-model="ar.selectedActivityResource.description" ng-disabled="!ar.selectedActivityResource"/>
                            </div>
                        </div>

                        <button class="btn btn-success" type="submit" ng-disabled="ar.disableSave()">Save</button>
                    </form>
                </div>
                <div class="aside-footer">

                </div>

        </div>
    </div>
</div>