<div class="aside mainbox" id="activityResourceBox" tabindex="-1" role="dialog">
    <div class="aside-dialog">
        <div class="aside-content">
                <div class="aside-header">
                    <button class="close" type="button" ng-click="ar.close()">&times;</button>
                    <h4 class="aside-title">
                        {{ar.courseActivity.name}} choices
                    </h4>
                </div>
                <div class="aside-body">
                    <form id="activityResourceForm" ng-submit="ar.save()">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Description</th>
                                    <th>File</th>
                                    <th>Modified</th>
                                    <th>Size</th>
                                    <th>Delete</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="sr in ar.courseActivity.activityChoices track by sr.id">
                                    <td>
                                        <input class="form-control" type="text" ng-model="sr.description" z-validate />
                                    </td>
                                    <td>
                                        <div class="input-group">
                                            <label class="input-group-btn">
                                                <span class="btn btn-primary">
                                                    Browse&hellip;
                                                    <input type="file" ng-model="sr.file" app-filereader ng-file-size="sr.fileSize" ng-file-name="sr.fileName" ng-last-modified="sr.fileModified" style="display:none!important;" />
                                                </span>
                                            </label>
                                            <input type="text" class="form-control" readonly ng-model="sr.fileName" z-validate z-append-to="td">
                                        </div>
                                    </td>
                                    <td>
                                        <input class="form-control" disabled type="text" ng-value="sr.getFormattedDate(sr.fileModified)" />
                                    </td>
                                    <!--TO DO check validates on big files-->
                                    <td>
                                        <input type="hidden" ng-model="sr.fileSize" z-validate z-append-to="td" />
                                        <div class="input-group">
                                            <input class="form-control" disabled type="text" ng-value="sr.getSizeInKb(sr.fileSize)" />
                                            <span class="input-group-addon">KB</span>
                                        </div>
                                    </td>
                                    <td>
                                        <button type="button" class="btn btn-link" ng-click="sr.entityAspect.setDeleted()"><i class="fa fa-trash"></i></button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <button type="button" ng-click="ar.createActivityResource()" class="btn btn-link"><i class="fa fa-plus-square"></i>Add Resource</button>
                        <button class="btn btn-success" type="submit" ng-disabled="ar.disableSave()">Save</button>
                    </form>
                </div>
                <div class="aside-footer">

                </div>

        </div>
    </div>
</div>