<section id="dashboard-view" class="mainbar" ng-controller="videos as vm">
    <section class="matter">
        <div class="container">
            <h3>Tutorials:</h3>
            <div class="row">
                <div class="playlist col-md-3">
                    <ol>
                        <li ng-repeat="v in vm.videos" ng-class="{playing: v.id===vm.currentVideoId}">
                            <a ng-click="vm.setVideo(v.id)">{{v.title}}</a>
                        </li>
                    </ol>
                </div>
                <iframe ng-src="{{vm.currentVideoSrc}}" width="640" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>

            </div>
        </div>
    </section>
</section>

            
