<section id="course-view" class="mainbar" data-ng-controller="professionalRoles as vm">
    <section class="matter">
        <div class="container">
            <form ng-submit="vm.save($event)" name="courseFormatForm" novalidate>
                <div class="row">
                    <h3>
                        Professional Roles in use at {{vm.institution.name}}
                    </h3> 
                    <div class="col-md-4" ng-repeat="c in vm.categories track by c.name">
                        <div class="panel panel-primary">
                            <div class="panel-heading">
                                <div class="panel-title">
                                    <h3>
                                        {{c.name}}
                                    </h3>
                                </div>
                            </div>
                            <div class="panel-body">
                                <ul class="list-group faculty" ng-class="c.name" ui-sortable="c.sortableOptions" ng-model="c.used">
                                    <li class="list-group-item" ng-repeat="pr in c.used track by pr.id">
                                        {{pr.description}}
                                    </li>
                                </ul>
                                <hr/>
                                <h6><strong>un</strong>used roles</h6>
                                <ul class="list-group faculty" ng-class="c.name" ui-sortable="c.sortableOptions" ng-model="c.unused" >
                                    <li class="list-group-item" ng-repeat="pru in c.unused track by pru.id">
                                        {{pru.description}}
                                    </li>
                                </ul>
                            </div>
                            <div class="panel-footer">
                                <div class="input-group">
                                    <input class="form-control" type="text" name="{{c.name}}" ng-model="c.newRoleName"/>
                                    <span class="input-group-btn">
                                        <button type="button" class="btn btn-primary" ng-click="c.addRole()">
                                            <i class="fa fa-plus-circle"></i>
                                        </button>
                                    </span>
                                </div>
                                <div class="error" ng-show="courseFormatForm.{{c.name}}.$invalid">
                                    <p class="error" ng-show="courseFormatForm.{{c.name}}.$error.repeat">descriptions cannot be repeated</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <button type="submit" class="btn btn-success" ng-disabled="vm.disableSave()">Save</button>
            </form>
        </div>
    </section>
</section>