@* Generator : Template GeneratePrettyNames : true BaseType: SP.Web.UserEmails.EmailBase *@
@inherits SP.Web.UserEmails.EmailBase
@functions{ 
    public string Token { get; set; }
    public string UserName { get; set; }
    public Guid UserId { get; set; }

    public string AsQueryString()
    {
        //bizzare trustwave Scanmail cannot symetrically encode & decode url encoded query strings at the moment
        return BaseUrl + "/resetPassword?token=" + Token + "&userId=" + UserId.ToString();
        //return to this once trustwave have a functioning product:
        //return BaseUrl + "/resetPassword?token=" + System.Web.HttpUtility.UrlEncode(Token) + "&userId=" + UserId.ToString();
    }
}

@{ Layout = new SP.Web.UserEmails.LayoutTemplate { Title = "Forgot Password" }; }

<row>
    <columns large="12">
        <spacer size="16"></spacer>

        <h1 class="text-center">Forgot Your Password?</h1>

        <spacer size="16"></spacer>
        <dl>
            <dt>User Name</dt>
            <dd>@UserName</dd>
        </dl>
        <p class="text-center">Click the link below to reset your password.</p>
        <button class="large expand" href="@(AsQueryString())">Reset Password</button>

    </columns>
</row>
