@* Generator : Template GeneratePrettyNames : true BaseType: SP.Web.UserEmails.EmailBase *@
@inherits SP.Web.UserEmails.EmailBase
@functions{ 
    public string Token { get; set; }
    public Guid UserId { get; set; }

    public string AsQueryString()
    {
        return BaseUrl + "index.html#/resetPassword?token=" + System.Web.HttpUtility.UrlEncode(Token) + "&userId=" + UserId.ToString();
    }
}

@{ Layout = new SP.Web.UserEmails.LayoutTemplate { Title = "Forgot Password" }; }

<row>
    <columns large="12">
        <spacer size="16"></spacer>

        <h1 class="text-center">Forgot Your Password?</h1>

        <spacer size="16"></spacer>

        <p class="text-center">Click the link below to reset your password.</p>
        <button class="large expand" href="@(AsQueryString())">Reset Password</button>

    </columns>
</row>
