<section id="course-view" class="mainbar" data-ng-controller="institution as vm">
    <section class="matter">
        <div class="container col-md-12">
            <form class="form-horizontal" ng-submit="vm.save($event)" id="courseForm">
                <div class="validationSummary"></div>
                <fieldset class="col-md-9">
                    <legend>Required</legend>
                    <div class="form-group">
                        <label for="name" class="col-md-2 control-label">Name</label>
                        <div class="col-md-10">
                            <input type="text" id="name" class="form-control" ng-model="vm.institution.name" z-validate />
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="abbrev" class="col-md-2 control-label">Abbreviation</label>
                        <div class="col-md-10">
                            <input type="text" id="abbrev" class="form-control" ng-model="vm.institution.abbreviation" z-validate />
                        </div>
                    </div>
                    
                    <div class="form-group">
                        <label for="localeCode" class="col-md-2 control-label">Language-Culture</label>
                        <div class="col-md-10">
                            <div class="input-group">
                                <span class="input-group-addon">
                                    <img ng-src="{{vm.flagUrl}}" width="16"/>
                                </span>
                                <input class="form-control" id="localeCode" type="text" ng-model="vm.institution.localeCode" placeholder="e.g. New Zealand"
                                       autocomplete="off" typeahead-select-on-exact="true" typeahead-showhint="true"
                                       uib-typeahead="cf.Key for cf in vm.getCultureFormats($viewValue)"
                                       typeahead-on-select="vm.onLocaleSelected($item.Key)" typeahead-template-url="institutionTemplate.html"
                                       typeahead-loading="vm.loadingPeople" typeahead-no-results="vm.noResults"
                                       typeahead-select-on-blur="true" data-z-validate /> <!--typeahead-show-hint="true" is off for now as will have to fiddle with the left ?margin/padding ?tt-typeahed class? in the error state-->
                                <i ng-show="vm.loadingPeople" class="glyphicon glyphicon-refresh"></i>
                                <div ng-show="vm.noResults">
                                    <i class="glyphicon glyphicon-remove"></i> No Existing Participants
                                </div>
                            </div>
                        </div>
                    </div>

                </fieldset>
                <fieldset class="col-md-9">
                    <legend class="small">Optional</legend>
                    <div class="form-group">
                        <label for="standardTimeZone" class="col-md-2 control-label">Time Zone</label>
                        <div class="col-md-10">
                            <select id="standardTimeZone" class="form-control" data-z-validate data-ng-model="vm.institution.standardTimeZone" data-ng-options="tz for tz in vm.timeZonesForCulture"
                                    ng-disabled="!vm.institution.localeCode">
                                <option disabled selected hidden value="">
                                    Select Timezone...
                                </option>
                            </select>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="lat" class="col-md-2 control-label">Lat/Long</label>
                        <div class="col-md-5">
                            <input readonly="readonly" id="lat" class="form-control" data-z-validate data-ng-model="vm.institution.latitude" z-validate z-float/>
                        </div>
                        <div class="col-md-5">
                            <input readonly="readonly" id="lat" class="form-control" data-z-validate data-ng-model="vm.institution.longitude" z-validate z-float/>
                        </div>

                    </div>
                    <div class="form-group">
                        <label for="googleMapAddress" class="col-md-2 control-label">Google Map Address</label>
                        <div class="col-md-10">
                            <input type="url" id="googleMapAddress" class="form-control" data-z-validate data-ng-model="vm.googleMapAddress" ng-change="vm.mapAddressChanged()" />
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="about" class="col-md-2 control-label">About</label>
                        <div class="col-md-10">
                            <textarea type="text" id="about" class="form-control" ng-model="vm.institution.about" z-validate />
                        </div>
                    </div>
                        
                </fieldset>

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <button type="submit" class="btn btn-success" ng-disabled="vm.disableSave()">Save</button>
                    </div>
                </div>
            </form>
        </div>
    </section>
</section>
<script type="text/ng-template" id="institutionTemplate.html">
    <a>
        <img ng-src="{{match.model.flagUrl}}" width="16">
        <span ng-bind-html="match.model.Key | uibTypeaheadHighlight:query"></span>
        <small class="small">[<span ng-bind-html="match.model.Value | uibTypeaheadHighlight:query"></span>]</small>
    </a>
</script>