<section id="course-view" class="mainbar" data-ng-controller="institution as vm">
    <section class="matter">
        <div class="container col-md-12">
            <h2>Institution</h2>
            <form class="form-horizontal" ng-submit="vm.save($event)" name="institutionForm">
                <div class="validationSummary"></div>
                <fieldset class="col-md-9">
                    <legend>Required</legend>
                    <div class="form-group">
                        <label for="name" class="col-md-2 control-label">Name</label>
                        <div class="col-md-10">
                            <input type="text" id="name" class="form-control" ng-model="vm.institution.name" z-validate />
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="abbrev" class="col-md-2 control-label">Abbreviation</label>
                        <div class="col-md-10">
                            <input type="text" id="abbrev" class="form-control" ng-model="vm.institution.abbreviation" z-validate />
                        </div>
                    </div>
                    
                    <div class="form-group">
                        <label for="localeCode" class="col-md-2 control-label">Culture/Language</label>
                        <div class="col-md-10">
                            <ui-select ng-model="vm.institution.localeCode" id="culture" title="Choose culture/language" 
                                       on-select="vm.onLocaleSelected($model)" class="f16" z-validate>
                                <ui-select-match placeholder="culture [type to narrow selection]">
                                    <i ng-class="$select.selected.flagClass"></i>
                                    <strong class="culture">{{$select.selected.culture}}</strong>
                                    <em class="language">{{$select.selected.language}}</em>
                                </ui-select-match>
                                <ui-select-choices repeat="culture.localeCode as culture in vm.cultureFormats | propsFilter: {searchString: $select.search}">
                                    <i ng-class="culture.flagClass"></i>
                                    <span class="culture" ng-bind-html="culture.culture | highlight: $select.search"></span>
                                    <em class="language" ng-bind-html="culture.language | highlight: $select.search"></em>
                                </ui-select-choices>
                            </ui-select>
                        </div>
                    </div>

                </fieldset>
                <fieldset class="col-md-9">
                    <legend><small>Optional</small></legend>
                    <div class="form-group">
                        <label for="standardTimeZone" class="col-md-2 control-label">Time Zone</label>
                        <div class="col-md-10">
                            <select id="standardTimeZone" class="form-control" data-z-validate data-ng-model="vm.institution.standardTimeZone" data-ng-options="tz for tz in vm.timeZonesForCulture"
                                    ng-disabled="!vm.institution.localeCode">
                                <option disabled selected hidden value="">
                                    Select Timezone...
                                </option>
                            </select>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="lat" class="col-md-2 control-label">Lat/Long</label>
                        <div class="col-md-5">
                            <input readonly="readonly" id="lat" class="form-control" data-z-validate data-ng-model="vm.institution.latitude" z-validate z-float/>
                        </div>
                        <div class="col-md-5">
                            <input readonly="readonly" id="lat" class="form-control" data-z-validate data-ng-model="vm.institution.longitude" z-validate z-float/>
                        </div>

                    </div>
                    <div class="form-group">
                        <label for="googleMapAddress" class="col-md-2 control-label">Google Map Address</label>
                        <div class="col-md-10">
                            <div class="input-group" id="googleMaps">
                                <span class="input-group-btn">
                                    <button type="button" class="btn" ng-click="vm.mapAddressChanged()" ng-disabled="!vm.googleMapAddress" ng-class="{'btn-success':vm.googleMapAddress && !institutionForm.googleMapAddress.$invalid,'btn-danger':institutionForm.googleMapAddress.$invalid}">
                                        <i class="fa fa-lg fa-globe"></i>
                                    </button>
                                </span>
                                <input type="url" id="googleMapAddress" name="googleMapAddress" class="form-control" data-z-validate data-ng-model="vm.googleMapAddress" z-append-to="#googleMaps"/>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="about" class="col-md-2 control-label">About</label>
                        <div class="col-md-10">
                            <textarea type="text" id="about" class="form-control" ng-model="vm.institution.about" z-validate />
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="directions" class="col-md-2 control-label">Logo Image</label>
                        <div class="col-md-10">
                            <div class="input-group" id="file-container">
                                <label class="input-group-btn">
                                    <span class="btn btn-primary">
                                        Browse&hellip;
                                        <input type="file" accept="image/*" ng-model="vm.institution.file" app-filereader ng-file-size="vm.institution.fileSize" ng-file-name="vm.institution.logoImageFileName" ng-last-modified="vm.institution.fileModified" style="display:none!important;" />
                                    </span>
                                </label>
                                <input type="text" class="form-control" readonly ng-model="vm.institution.logoImageFileName" z-validate z-append-to="#file-container">
                            </div>
                            <div class="row top-buffer">
                                <label class="col-md-1 control-label">File Size</label>
                                <div class="col-md-3" id="file-size">
                                    <div class="input-group">
                                        <input class="form-control" disabled type="text" ng-value="vm.institution.fileSize | sizeKib" />
                                        <span class="input-group-addon">KiB</span>
                                    </div>
                                    <input type="hidden" ng-model="vm.institution.fileSize" z-validate z-append-to="#file-size" />
                                </div>
                                <label class="col-md-1 control-label">File Modified</label>
                                <div class="col-md-5">
                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                        <input class="form-control" disabled type="text" ng-value="vm.institution.fileModified | fileDate" />
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <button type="button" class="btn btn-link" ng-click="vm.clearFileData()"><i class="fa fa-times"></i>Remove File</button>
                                </div>
                            </div>
                        </div>
                    </div>
                        
                </fieldset>

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <button type="submit" class="btn btn-success" ng-disabled="vm.disableSave()">{{vm.isLoggedIn?'Save':'Save and register department'}}</button>
                    </div>
                </div>
            </form>
        </div>
    </section>
</section>