<section id="dashboard-view" class="mainbar" data-ng-controller="dashboard as vm">
    <section class="matter">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <div class="panel-title">
                                <h4>
                                    Your Next Upcoming Course:
                                </h4>
                                <ul class="list-unstyled">
                                    <li>
                                        <span class="fa fa-calendar-check-o" data-ng-switch="vm.loginState"> 
                                            <span data-ng-switch-when="active">
                                                {{vm.nextUserCourse.startTime | amDateFormat:'LLLL'}}
                                            </span>
                                            <span data-ng-switch-when="inactive">
                                                no upcoming courses
                                            </span>
                                            <span data-ng-switch-when="notLoggedIn">
                                                sign in to find out when...
                                            </span>
                                        </span> 
                                    </li>
                                    <li>
                                        <span class="fa fa-clock-o"> 
                                            <small data-ng-switch="vm.loginState">
                                                <span data-ng-switch-when="active" am-time-ago="vm.nextUserCourse.startTime">
                                                    
                                                </span>
                                                <span data-ng-switch-when="inactive">
                                                    create a new course?
                                                </span>
                                                <span data-ng-switch-when="notLoggedIn">
                                                    (hopefully very soon)
                                                </span>
                                            </small>
                                        </span>
                                    </li>
                                    <li>
                                        <span class="fa fa-university" data-ng-switch="vm.loginState"> 
                                            <span data-ng-switch-when="notLoggedIn">
                                                [your institution &amp; department]
                                            </span>
                                            <span data-ng-switch-default>
                                                {{vm.nextUserCourse.department.institution.name}} {{vm.nextUserCourse.department.name}}
                                            </span>

                                        </span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="panel panel-success">
                        <div class="panel-heading clickable collapsed" data-toggle="collapse" data-target="#about">
                            <h4 class="panel-title">
                                About Simulation Manager<span class="chevron"></span>
                            </h4>
                        </div>
                        <div id="about" class="panel-body panel-collapse collapse">
                            Simulation Manager is a tool originally designed by and for the Starship Hospital Simulation Program to simplify
                            organising medical simulation courses and keeping track of institution wide data, including:
                            <ul>
                                <li>Faculty and participants attending a course <br/><small class="small">(including auto-notification and tracking <span class="fa fa-mail-reply"> reply confirmation</span> by <span class="fa fa-envelope-o"> email</span> ± <span class="fa fa-mobile"> text message</span>)</small></li>
                                <li>Developing course timetables</li>
                                <li>Which scenarios are to be run during a course <br/>
                                    <small class="small">
                                        And checking which scenarios participants have previously completed, to avoid repeating scenarios
                                    </small>
                                </li>
                                <li>Faculty member roles - including lectures, activities and scenario roles (e.g. debriefing, sim director)</li>
                                <li>Producing annual reports of simulation activity, as a whole institution and by department</li>
                                <li>Track total hours simulation time (and thereby lifespan) for each manequin</li>
                            </ul>
                            It is free to use for institutions such as hospitals and universities
                            <small class="small">(a small fee may be charged per text messaging reminder if you choose to use the text messaging service)</small>.
                        </div>
                        <div class="panel-footer">
                            <ul>
                                <li>
                                    Any ideas or comments? Please <a href="#" class="fa fa-link"> let us know</a> so we can make SimManager better
                                </li>
                                <li>
                                    <a class="fa fa-graduation-cap" href="#">Click here</a> to learn how to use SimManager
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="panel panel-info">
                        <div class="panel-heading clickable"  data-toggle="collapse" data-target="#priorCourses">
                            <h4 class="panel-title"><span class="fa fa-bar-chart"></span>Your Summary Data<span class="chevron"></span></h4>
                        </div>
                        <div id="priorCourses" class="panel-body panel-collapse collapse in">

                        </div>
                        <div class="panel-footer">
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="panel panel-warning">
                        <div class="panel-heading clickable" data-toggle="collapse" data-target="#upcomingCourses">
                            <h4 class="panel-title">
                                Upcoming Courses @ Your Institution<span class="chevron"></span>
                            </h4>
                        </div>
                        <div id="upcomingCourses" class="panel-body panel-collapse collapse in">
                            <table class="table table-condensed table-striped">
                                <thead>
                                    <tr>
                                        <th>Date</th>
                                        <th>Department</th>
                                        <th>Location</th>
                                        <th>Involving You</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr data-ng-repeat="c in vm.upcomingCourses track by c.id">
                                        <td>{{c.startTime | amDateFormat:'L'}}</td>
                                        <td>{{c.department.name}}</td>
                                        <td>
                                            <a href="#" uib-popover="{{c.room.directions}}" popover-title="{{c.room.fullDescription}}" popover-trigger="mouseenter" >
                                                {{c.room.shortDescription}}
                                            </a>
                                        </td>
                                        <td><input type="checkbox" disabled="disabled" data-ng-checked="c.includesUser(vm.currentUserId)" /></td>
                                        <td><button class="btn btn-link" data-ng-click="vm.gotoCourse(c)">Edit</button></td>
                                    </tr>
                                </tbody>
                                <tfoot data-ng-if="!vm.upcomingCourses.length">
                                    <tr>
                                        <td colspan="4" class="text-center">
                                            No courses found
                                        </td>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                        <div class="panel-footer">
                            <div class="clearfix"></div>
                        </div>
                        </div>
                    </div>
                </div>
        </div>
    </section>
</section>