<nav class="navbar navbar-fixed-top navbar-inverse">
    <div class="navbar-header">
        <a href="/" class="navbar-brand"><span class="brand-title">Simulation Planner</span></a>
        <a class="btn navbar-btn navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </a>
    </div>
    <div class="navbar-collapse collapse">
        <div class="pull-right navbar-logo">
            <ul class="nav navbar-nav pull-right" data-ng-controller="loginWidget as lw">
                <li class="login-widget" data-ng-if="!lw.currentUser"><button class="btn-link" id="sign-in" data-ng-click="lw.getCredentials()"><span class="fa fa-sign-in"> sign in</span></button></li>
                <li class="login-widget" data-ng-if="lw.currentUser"><a id="userName" href="#/updateDetails">{{lw.currentUser}}</a>-<button class="btn-link" id="sign-out" data-ng-click="lw.logout()"><span class="fa fa-sign-out"> sign out</span> </button></li>
                <li class="dropdown dropdown-big starshipLogo">
                    <a href="https://www.starship.org.nz" target="_blank">
                        <img src="../../Content/images/logo-starship.png" />
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>