<section id="course-view" class="mainbar" data-ng-controller="manikin as vm">
    <section class="matter">
        <div class="container col-md-12">
            <h2>Manikin</h2>
            <form class="form-horizontal" ng-submit="vm.save($event)" id="courseForm">
                <div class="validationSummary"></div>
                <fieldset>
                    <legend>Required</legend>
					<div class="form-group">
						<label for="description" class="col-md-2 control-label">Description</label>
						<div class="col-md-10">
							<input type="text" id="description" class="form-control" ng-model="vm.manikin.description" z-validate/>
						</div>
					</div>
			
					<div class="form-group">
						<label for="departmentId" class="col-md-2 control-label">Owner</label>
						<div class="col-md-10">
							<select id="departmentId" class="form-control" data-z-validate data-ng-model="vm.manikin.department" data-ng-options="d as d.name for d in vm.departments">
								<option disabled selected hidden value="">
									Select Department...
								</option>
							</select>
						</div>
					</div>
			
					<div class="form-group">
						<label for="modelId" class="col-md-2 control-label">Model</label>
						<div class="col-md-10">
							<select id="modelId" class="form-control" data-z-validate data-ng-model="vm.manikin.model" data-ng-options="m as m.description for m in vm.models">
								<option disabled selected hidden value="">
									Select Manikin Model...
								</option>
							</select>
						</div>
					</div>
			
					<div class="form-group">
						<label for="purchasedNew" class="col-md-2 control-label">Purchased New</label>
						<div class="col-md-10">
							<div class="checkbox">
								<input type="checkbox" id="purchasedNew" ng-model="vm.manikin.purchasedNew" z-validate/>
							</div>
						</div>
					</div>
			    </fieldset>
                <fieldset>
                    <legend><small>Optional</small></legend>

                    <div class="form-group">
                        <label for="purchaseDate" class="col-md-2 control-label">Purchase Date</label>
                        <div class="col-md-10">
                            <div class="input-group">
                                <span class="input-group-addon">
                                    <i class="fa fa-calendar"></i>
                                </span>
                                <input id="purchaseDate" class="form-control" ng-model="vm.manikin.purchaseDate" data-autoclose="1" placeholder="Date" bs-datepicker type="text"
                                        data-min-date="{{vm.minDate}}" data-max-date="{{vm.maxDate}}" z-validate z-append-to="#startTimeGroup" />
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="localCurrencyPurchasePrice" class="col-md-2 control-label">Purchase Price</label>
                        <div class="col-md-10">
                            <div class="input-group">
                                <span class="input-group-addon">
                                    <strong>{{vm.currencySymbol}}</strong><small class="small">{{vm.isoCurrency}}</small>
                                </span>
                                <input type="text" id="localCurrencyPurchasePrice" class="form-control" ng-model="vm.manikin.localCurrencyPurchasePrice" z-validate />
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="decommissionDate" class="col-md-2 control-label">Decommission Date</label>
                        <div class="col-md-10">
                            <div class="input-group">
                                <span class="input-group-addon">
                                    <i class="fa fa-calendar"></i>
                                </span>
                                <input id="decommissionDate" class="form-control" ng-model="vm.manikin.decommissionDate" data-autoclose="1" placeholder="Date" bs-datepicker type="text"
                                        data-min-date="{{vm.minDate}}" data-max-date="{{vm.maxDate}}" z-validate z-append-to="#startTimeGroup" />
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="decommissionReason" class="col-md-2 control-label">Decommission Reason</label>
                        <div class="col-md-10">
                            <textarea id="decommissionReason" class="form-control" ng-model="vm.manikin.decommissionReason" z-validate />
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <button type="submit" ng-disabled="vm.disableSave()" class="btn btn-default">Save</button>
                        </div>
                    </div>
                </fieldset>
                <fieldset>
                    <legend>Services</legend>
                    <table>
                        <thead>
                            <tr>
                                <th>internal service</th>
                                <th>Sent</th>
                                <th>Returned</th>
                                <th>Problem</th>
                                <th>Estimate</th>
                                <th>Cost</th>
                                <td></td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="s in vm.manikin.manikinServices track by s.id">
                                <td>
                                    {{s.servicedInternally}}
                                </td>
                                <td>
                                    {{s.sent}}
                                </td>
                                <td>
                                    {{s.returned}}
                                </td>
                                <td bs-tooltip data-trigger="hover" data-type="info" data-animation="am-flip-x" data-title="{{s.problemDescription}}">
                                    {{s.problemDescription | limitTo:20}}<span ng-if="s.problemDescription.length>20">&hellip;</span>
                                </td>
                                <td>
                                    {{s.priceEstimate | currency:vm.currencySymbol}}
                                </td>
                                <td>
                                    {{s.serviceCost | currency:vm.currencySymbol}}
                                </td>
                                <td>
                                    <button type="button" class="btn-link" ng-click="vm.editService(s)">
                                        <i class="fa fa-edit"></i>
                                    </button>
                                    |
                                    <button type="button" class="btn btn-link" ng-click="s.entityAspect.setDeleted()"><i class="fa fa-trash"></i></button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="disable-workaround" data-trigger="hover" data-type="danger" data-animation="am-flip-x" data-title="Please save the manikin first" bs-tooltip bs-enabled="vm.manikin.entityAspect.entityState.isAdded()">
                        <button type="button" ng-click="vm.createService()" class="btn btn-link"><i class="fa fa-plus-square"></i>Add Service</button>
                    </div>
                    </fieldset>
            </form>
        </div>
    </section>
</section>
