<section id="course-view" class="mainbar" data-ng-controller="updateUser as vm">
    <section class="matter">
        <div class="container col-md-12">
            <h2>{{vm.isNew?'Enter New':'Update'}} User Details</h2>
            <form ng-submit="vm.submit()" name="updateDetailsForm" class="form-horizontal col-md-9">
                
                <fieldset>
                    <legend>Details</legend>
                    <div ng-include="'app/user/userDetails.html'"></div>

                    <div class="form-group">
                        <label for="institution" class="control-label col-md-2">Institution</label>
                        <div class="col-md-10">
                            <select id="institution" class="form-control" data-ng-model="vm.institution"  ng-change="vm.filterRoles"
                                    ng-options="i as i.name group by i.culture.name for i in vm.institutions"></select>
                            <span class="text-danger" />
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="cpDepartment" class="control-label col-md-2">Department</label>
                        <div class="col-md-10">
                            <select id="cpDepartment" class="form-control" data-z-validate data-ng-options="d as d.name for d in vm.institution.departments"
                                    data-ng-model="vm.participant.department" >
                                <option value="" disabled="disabled">
                                    Select Department...
                                </option>
                            </select>
                        </div>
                    </div>
                </fieldset>
                
                <fieldset>
                    <legend>
                        Permissions
                    </legend>

                    <div class="form-group">
                        <label class="control-label col-md-2">Access</label>
                        <div class="col-md-10">
                            <div class="btn-group" ng-model="vm.permissions.adminLevel" bs-radio-group>
                                <label class="btn btn-default" ng-if="vm.canAlter('AccessAllData')">
                                    <input class="btn btn-default" value="accessAllData" type="radio" ng-change="vm.changed()">
                                    All Data
                                </label>
                                <label class="btn btn-default" ng-if="vm.canAlter('AccessInstitution')">
                                    <input class="btn btn-default" value="accessInstitution" type="radio" ng-change="vm.changed()">
                                    Institution
                                </label>
                                <label class="btn btn-default" ng-if="vm.canAlter('AccessDepartment')">
                                    <input class="btn btn-default" value="accessDepartment" type="radio" ng-change="vm.changed()">
                                    Department
                                </label>
                                <label class="btn btn-default">
                                    <input class="btn btn-default" value="" type="radio" ng-change="vm.changed()">
                                    Participating Courses Only
                                </label>
                            </div>
                        </div>
                    </div>

                    <div class="form-group" ng-if="vm.canAlter('SiteAdmin') || vm.canAlter('DptManikinBookings') || vm.canAlter('DptRoomBookings')">
                        <label class="control-label col-md-2">Other Admin Roles</label>
                        <div class="col-md-10">
                            <div class="btn-group" ng-model="vm.permissions" bs-checkbox-group>
                                <label class="btn btn-default" ng-if="vm.canAlter('SiteAdmin')">
                                    <input type="checkbox" value="siteAdmin" ng-change="vm.changed()" />
                                    Website Admin
                                </label>
                                <label class="btn btn-default" ng-if="vm.canAlter('DptManikinBookings')">
                                    <input type="checkbox" value="dptManikinBookings" ng-change="vm.changed()" />
                                    Manikin Bookings
                                </label>
                                <label class="btn btn-default" ng-if="vm.canAlter('DptRoomBookings')">
                                    <input type="checkbox" value="dptRoomBookings" ng-change="vm.changed()" />
                                    Room Bookings
                                </label>
                            </div>
                        </div>
                    </div>
                </fieldset>



                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <button type="submit" ng-disabled="vm.disableSave()" class="btn btn-success">Save</button>
                    </div>
                </div>
            </form>
        </div>
    </section>
</section>
