<section id="course-view" class="mainbar" data-ng-controller="courseFormat as vm">
    <section class="matter">
        <div class="container">
            <form class="form-horizontal" ng-submit="vm.save($event)" id="courseFormatForm">
                <div class="col-md-5">
                    <div class="form-group">
                        <label for="cfDescription" class="col-md-3 control-label">
                            Course Type
                        </label>
                        <div class="col-md-9">
                            <input readonly id="cfDescription" class="form-control" type="text" ng-model="vm.courseFormat.courseType.description" />
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="cfDescription" class="col-md-3 control-label">
                            Course Format
                        </label>
                        <div class="col-md-9">
                            <input id="cfDescription" class="form-control" type="text" z-validate ng-model="vm.courseFormat.description" />
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="daysDuration" class="col-md-3 control-label">
                            Days Duration
                        </label>
                        <div class="col-md-9">
                            <input id="daysDuration" class="form-control" type="number" z-validate step="1" ng-model="vm.courseFormat.daysDuration" />
                        </div>

                    </div>
                </div>
                <button class="btn-link" type="button" ng-click="vm.createSlot()">
                    add new activity
                </button>
                <fieldset > <!--ng-disabled="!vm.selectedSlot"-->
                    <table class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <td class="small">(drag)</td>
                                <th>Activity</th>
                                <th>Minutes</th>
                                <td>
                                </td>
                            </tr>
                        </thead>
                        <tbody ui-sortable="vm.sortableOptions" ng-model="vm.courseFormat.courseSlots">
                            <tr ng-repeat="cs in vm.courseFormat.courseSlots | filter: {isActive: true} track by cs.id" >
                                <td class="handle">
                                    :::
                                </td>
                                <td>
                                    <span ng-hide="cs.activity" class="simulation">Simulation</span>
                                    <span ng-show="cs.activity" class="activity">{{cs.activity.name}}</span>
                                </td>
                                <td>
                                    {{cs.minutesDuration}}
                                </td>

                                <td>
                                    <button class="btn-link" type="button" ng-click="vm.editSlot(cs)">
                                        edit
                                    </button>
                                    |
                                    <button class="btn-link" type="button" ng-click="vm.removeSlot(cs)">
                                        remove
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                        <tfoot>
                            <tr>
                                <td class="form-group">
                                    <label class="control-label">
                                        <input type="checkbox" ng-model="vm.selectedSlot.isScenario" ng-change="vm.isScenarioChanged()" id="isScenario" class="checkbox-inline" 
                                               ng-disabled="!vm.selectedSlot.entityAspect.entityState.isAdded()"/>
                                        Sim
                                    </label>
                                </td>
                                <td class="form-group" >
                                    <input class="form-control simulation" type="text" ng-show="vm.selectedSlot.isScenario" value="Simulation" disabled="disabled">
                                    <div ng-hide="vm.selectedSlot.isScenario">
                                        <input class="form-control" id="activity" type="text" ng-model="vm.selectedSlot.activity.name" placeholder="activity name"
                                               autocomplete="off" ng-disabled="!vm.selectedSlot" 
                                               uib-typeahead="ca for ca in vm.courseActivities | filter:$viewValue"
                                               typeahead-focus-first="false" typeahead-on-select="vm.activitySelected($item)"
                                               typeahead-no-results="cp.noResults"
                                               typeahead-select-on-blur="true" data-z-validate /> <!--typeahead-show-hint="true" is off for now as will have to fiddle with the left ?margin/padding ?tt-typeahed class? in the error state-->
                                        <div ng-show="noResults">
                                            <i class="glyphicon glyphicon-remove"></i> No Existing Activities
                                        </div>
                                    </div>
                                </td>
                                <td class="form-group col-md-1">
                                    <input class="form-control" type="number" step="1" z-validate ng-model="vm.selectedSlot.minutesDuration"  ng-disabled="!vm.selectedSlot">
                                </td>
                                <td>
                                    <button class="btn btn-link" type="button" ng-click="vm.editChoices()" ng-disabled="!vm.selectedSlot || vm.selectedSlot.isScenario">
                                        choices
                                    </button> 
                                </td>
                            </tr>
                        </tfoot>
                    </table>
                </fieldset>
                <button type="submit" class="btn btn-success" ng-disabled="vm.disableSaveInclChildren()">Save</button>
                <button type="button" class="btn btn-info" ng-click="vm.clone()" ng-disabled="!vm.courseFormat.entityAspect.entityState.isUnchanged()">Copy</button>
            </form>
        </div>
    </section>
</section>