{{!-- This is the base layout for your project, and will be used on every page. --}}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
  <head>
    <link rel="stylesheet" type="text/css" href="css/app.css">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width">
    <title>{{subject}}</title>
  </head>
  <body>
    <!-- <style> -->
	<table class="wrapper header" align="center"><tr><td class="wrapper-inner">
		<table class="row collapse"><tbody><tr>
			    <th class="small-12 large-12 columns">
      <table>
        <tr>
		  <th width="75">
				<img src="assets/img/manequin.jpg" alt="sim-manager logo" width="75" height="50">
		  </th>
          <th align="center">
				<h1 class="text-center">Simulation Manager</h1>
		  </th>
		  <th width="75">
				<img src="assets/img/logo-starship.png" alt="starship logo" height="50">
		  </th>
        </tr>
      </table>
    </th>
		</tr></tbody></table>
	</td></tr></table>
	<spacer size="20"></spacer>
    <table class="body">
      <tr>
        <td class="center" align="center" valign="top">
          <center>
			<container>
				  <row>
					<h3>Upcoming Course:</h3>
				  </row>
					{{!-- Pages you create in the src/pages/ folder are inserted here when the flattened emails are created. --}}
					{{> body}}
			</container>
          </center>
        </td>
      </tr>
    </table>
    <!-- prevent Gmail on iOS font size manipulation -->
   <div style="display:none; white-space:nowrap; font:15px courier; line-height:0;"> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; </div>
  </body>
</html>

