 <div class="modal mainbox" id="loginbox" tabindex="-1" role="dialog" aria-hidden="true">
    <iframe src="sink.html" name="sink" style="display:none"></iframe>
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button class="btn-link pull-right" type="button" ng-click="gc.forgotPassword()">Forgot your password?</button>
                <h4 class="modal-title">Login</h4>
            </div>
            <div style="padding-top: 30px" class="modal-body" >
                <form name="loginForm" class="form-horizontal" method="post"
                        ng-submit="gc.login(gc.credentials)" novalidate data-form-autofill-fix>
                    <div class="row">
                        <div class="form-group col-md-10 col-md-push-1" ng-class="{ 'has-error': loginForm.username.$touched && loginForm.username.$invalid }">
                            <div class="input-group">
                                <label class="input-group-addon" for="username">
                                    <i class="glyphicon glyphicon-user"></i>
                                </label>
                                <input type="text" class="form-control" name="username"
                                        ng-model="gc.credentials.username" placeholder="Username" required />
                            </div>
                            <div ng-messages="loginForm.username.$error" ng-class="{'invisible':!loginForm.username.$touched && !loginForm.password.$touched}" role="alert" class="z-decorator">
                                <span class="invalid" ng-message="required">'Username' is mandatory <small class="small">(or use a provider below)</small></span>
                            </div>
                        </div>


                        <div class="form-group col-md-10 col-md-push-1" ng-class="{ 'has-error': loginForm.password.$touched && loginForm.password.$invalid }">
                            <div class="input-group">
                                <label class="input-group-addon" for="password">
                                    <i class="glyphicon glyphicon-lock"></i>
                                </label>
                                <input type="password"
                                        class="form-control" name="password"
                                        ng-model="gc.credentials.password" placeholder="Password" required />
                            </div>
                            <div ng-messages="loginForm.password.$error" ng-class="{'invisible':!loginForm.username.$touched && !loginForm.password.$touched}" role="alert" class="z-decorator">
                                <span class="invalid" ng-message="required">'Password' is mandatory <small class="small">(or use a provider below)</small></span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div  class="form-group text-right col-md-11">
                            <!-- Button -->
                            <button type="submit" id="btn-login" class="btn btn-success" ng-disabled="gc.isWaiting || !gc.credentials.username.length || !gc.credentials.password.length">Login</button>
                        </div>
                    </div>
                    <p ng-show="gc.errors" class="error">{{gc.errors}}</p>

                </form>
                <div class="clearfix"></div>
                <h5>Or you can login using one of the social media logins below:</h5>
                <hr/>
                <ul class="list-inline">
                    <li class="col-md-6">
                        <button class="btn btn-lg btn-social btn-facebook btn-block" type="button" data-ng-click="gc.authExternalProvider('Facebook')"><span class="fa fa-facebook"></span>connect with Facebook</button>
                    </li>
                    <li class="col-md-6">
                        <button class="btn btn-lg btn-social btn-google btn-block" type="button" data-ng-click="gc.authExternalProvider('Google')"><span class="fa fa-google-plus"></span>connect with Google+</button>
                    </li>
                    <li class="col-md-6">
                        <button class="btn btn-lg btn-social btn-twitter btn-block" type="button" data-ng-click="gc.authExternalProvider('Twitter')"><span class="fa fa-twitter"></span>connect with Twitter</button>
                    </li>
                    <li class="col-md-6">
                        <button class="btn btn-lg btn-social btn-linkedin btn-block" type="button" data-ng-click="gc.authExternalProvider('Linkedin')"><span class="fa fa-linkedin"></span>connect with LinkedIn</button>
                    </li>
                </ul>
            </div>
            <div class="modal-footer">
            </div>
        </div>
    </div>
</div>
