<section id="course-view" class="mainbar" data-ng-controller="courseType as vm">
    <section class="matter">
        <div class="container col-md-12">
            <form class="form-horizontal" ng-submit="vm.save($event)" id="courseFormatForm">
                <div class="row">
                    <fieldset class="col-md-7">
                        <legend>Shared Course Details</legend>
                        <div class="form-group">
                            <label for="ctDescription" class="col-md-3 control-label">
                                Course Type
                            </label>
                            <div class="col-md-9">
                                <input id="ctDescription" class="form-control" type="text" ng-model="vm.courseType.description" data-z-validate/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="ctDescription" class="col-md-3 control-label">
                                Abbreviation
                            </label>
                            <div class="col-md-9">
                                <input id="ctAbbrev" class="form-control" type="text" ng-model="vm.courseType.abbreviation" data-z-validate/>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-3 control-label">Departments</label>
                            <div class="col-md-9">
                                <div angular-multi-select
                                     dropdown-label="<[ <# angularMultiSelectConstants.INTERNAL_STATS_CHECKED_LEAFS #> === 0 ? 'Please Select...' : ('<(abbrev)>' | outputModelIterator : this : ', ') ]>"
                                     output-type="objects"
                                     input-model="vm.departments"
                                     output-model="vm.selectedDepartments"
                                     node-label="<strong><[ name ]></strong>"
                                     leaf-label="<[ name ]>">
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="ctEmersion" class="col-md-3 control-label">
                                Emersion Category
                            </label>
                            <div class="col-md-9">
                                <select id="ctEmersion" class="form-control" type="text" ng-model="vm.courseType.emersionCategory" ng-options="e for e in vm.emersionCategories" data-z-validate>
                                    <option disabled selected hidden value="">
                                        Please Select...
                                    </option>
                                </select>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="ctInstructorCourse" class="col-md-3 control-label">
                                Instructor Course
                            </label>
                            <div class="col-md-9">
                                <select id="ctEmersion" class="form-control" type="text" ng-model="vm.courseType.instructorCourseId" ng-options="i.id as i.description for i in vm.instructorCourses track by i.id" data-z-validate>
                                    <option disabled selected hidden value="">
                                        Please Select...
                                    </option>
                                </select>
                            </div>
                        </div>
                        <button class="btn-link" ng-click="vm.createNewFormat()" type="button"><i class="fa fa-plus-circle"></i> New Format</button>
                    </fieldset>
                </div>
                <div class="panel-group" ng-model="vm.activeFormatIndex" role="tablist" aria-multiselectable="true" bs-collapse data-allow-multiple="false">
                    <div class="panel panel-default" ng-repeat="cf in vm.courseType.courseFormats track by cf.id">
                        <div class="panel-heading" role="tab">
                            <h4 class="panel-title">
                                <a bs-collapse-toggle>{{cf.description || '[Default Course Format]'}}</a>
                            </h4>
                        </div>
                        <div class="panel-collapse" role="tabpanel" bs-collapse-target>
                            <div class="panel-body">
                                <div class="row col-md-12">
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label for="cfDescription" class="col-md-3 control-label">
                                                Course Format
                                            </label>
                                            <div class="col-md-9">
                                                <input id="cfDescription" class="form-control" type="text" z-validate ng-model="cf.description" />
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label for="daysDuration" class="col-md-3 control-label">
                                                Days Duration
                                            </label>
                                            <div class="col-md-9">
                                                <input id="daysDuration" class="form-control" type="number" min="1" z-validate step="1" ng-model="cf.daysDuration" ng-change="vm.alterDayMarkers(cf)"/>
                                            </div>

                                        </div>

                                        <div class="form-group">
                                            <label for="obsolete" class="col-md-3 control-label">
                                                Course Status
                                            </label>
                                            <div class="col-md-9">
                                                <button type="button" class="btn btn-default" bs-checkbox id="obsolete" ng-model="cf.obsolete" ng-change="vm.alterObsoleteFormat(cf)" >
                                                    {{cf.obsolete?'Inactive':'Active'}}
                                                </button>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label for="hotDrink" class="col-md-3 control-label">
                                                Hot Drink
                                            </label>
                                            <div class="col-md-9">
                                                <button type="button" class="btn btn-default" bs-checkbox id="hotDrink" ng-model="cf.hotDrinkProvided" >
                                                    {{cf.hotDrinkProvided?'Take Order':'N/A'}}
                                                </button>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label for="diet" class="col-md-3 control-label">
                                                Diet Requirements
                                            </label>
                                            <div class="col-md-9">
                                                <button type="button" class="btn btn-default" bs-checkbox id="diet" ng-model="cf.mealProvided" >
                                                    {{cf.mealProvided?'Take Order':'N/A'}}
                                                </button>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label for="startTime" class="col-md-3 control-label">
                                                Default Start
                                            </label>
                                            <div class="col-md-9">
                                                <div class="input-group">
                                                    <span class="input-group-addon">
                                                        <i class="fa fa-clock-o"></i>
                                                    </span>
                                                    <input id="startTime" class="form-control" ng-model="cf.defaultStartAsDate" data-time-format="shortTime" data-autoclose="1" 
                                                           placeholder="Time" bs-timepicker type="text" ng-change="vm.resetExampleTimes(cf)" />
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                    <fieldset class="col-md-8">
                                        <!--ng-disabled="!cf.selectedSlot"-->
                                        <table class="table table-bordered table-striped">
                                            <thead>
                                                <tr>
                                                    <td class="small">(drag)</td>
                                                    <th>
                                                        Activities 
                                                    </th>
                                                    <th>Minutes</th>
                                                    <td><small>default finish</small></td>
                                                    <th>Streams</th>
                                                    <th>Track 
                                                        <i class="fa fa-info-circle" data-trigger="hover" data-type="info" data-animation="am-flip-x" data-title="Keep a track of which faculty members lead this activity" bs-tooltip></i>
                                                     </th>
                                                    <td></td>
                                                </tr>
                                            </thead>
                                            <tbody ui-sortable="vm.sortableOptions" ng-model="cf.sortableSlots">
                                                <tr ng-if="!cf.courseSlots.length">
                                                    <td colspan="5">please click the <i class="fa fa-plus-circle"></i> New Activity below to add an activity</td>
                                                </tr>
                                                <tr ng-include="cs===cf.selectedSlot?'edit':'display'" ng-repeat="cs in cf.sortableSlots | filter: {isActive: true}" ng-class="{'info':cs===cf.selectedSlot, 'not-sortable': cs.locked}">
                                                </tr>
                                            </tbody>
                                            <tfoot>
                                                <tr>
                                                    <td colspan="5" class="text-center">
                                                        <button type="button" class="btn btn-link" ng-click="vm.createSlot(cf)" ng-disabled="cf.selectedSlot.entityAspect.hasValidationErrors">
                                                            <i class="fa fa-plus-circle"></i> New Activity
                                                        </button>
                                                    </td>
                                                </tr>
                                            </tfoot>
                                        </table>
                                    </fieldset>
                                </div>
                            </div>
                        </div>
                        <div class="panel-footer">
                            <button type="button" class="btn btn-info" ng-click="vm.clone(cf)" ng-disabled="!vm.disableSave()">Clone This Format</button>
                        </div>
                    </div>
                </div>

                <button type="submit" class="btn btn-success" ng-disabled="vm.disableSave()">Save</button>
                
            </form>
        </div>
    </section>
</section>
<script type="text/ng-template" id="display">
    <td class="handle" ng-if="!cs.locked">
        :::
    </td>
    <td ng-if="cs.isDayMarker" colspan="{{cs.locked?7:6}}" class="day-marker text-center warning">
        Day {{cs.day}}
    </td>
    <td ng-if-start="!cs.isDayMarker">
        <span ng-hide="cs.activity" class="simulation">Simulation</span>
        <span ng-show="cs.activity" class="activity">{{cs.activity.name}}</span>
    </td>
    <td>
        {{cs.minutesDuration}}
    </td>
    <td>
        {{cs.exampleFinish | amDateFormat:'LT'}}
    </td>

    <td>
        {{cs.simultaneousStreams}}
    </td>

    <td>
        <input type="checkbox" ng-checked="cs.trackParticipants" disabled="disabled"/>
    </td>
    <td ng-if-end>
        <button type="button" class="btn-link" ng-click="vm.editSlot(cs)" ng-disabled="cs.entityAspect.hasValidationErrors">
            <i class="fa fa-edit"></i>
        </button>
        |
        <button type="button" class="btn-link" ng-click="vm.removeSlot(cs)">
            <i class="fa fa-trash-o"></i>
        </button>
        |
        <div ng-include="'buttons'" style="display:inline"></div>
    </td>
</script>
<script type="text/ng-template" id="buttons">
    <div class="disable-workaround" data-trigger="hover" data-type="danger" data-animation="am-flip-x" data-title="Please save first" bs-tooltip bs-enabled="cs.entityAspect.entityState.isAdded()" ng-if="!cs.isScenario">
        <button class="btn-link" type="button" ng-click="vm.editChoices(cs)" aria-label="edit list of options for this slot">
            <i class="glyphicon glyphicon-list" aria-hidden="true"></i>
        </button>
    </div>
</script>
<script type="text/ng-template" id="edit">
    <td class="form-group">
        <label class="control-label">
            <input type="checkbox" ng-checked="cs.isScenario" ng-click="vm.isScenarioChanged(cs)" id="isScenario" class="checkbox-inline"
                    ng-disabled="!cs.entityAspect.entityState.isAdded()" />
        </label>
    </td>
    <td class="form-group">
        <input class="form-control simulation" type="text" ng-show="cs.isScenario" value="Simulation" disabled="disabled">
        <div ng-hide="cs.isScenario">
            <input ng-hide="cf.selectedSlot.entityAspect.entityState.isAdded()" class="form-control" id="activity" type="text" ng-model="cf.selectedSlot.activity.name" placeholder="activity name" ng-disabled="!cf.selectedSlot" />
            <input ng-show="cf.selectedSlot.entityAspect.entityState.isAdded()" class="form-control" id="activity" type="text" ng-model="cs.activity.name" placeholder="activity name"
                    autocomplete="off" 
                    uib-typeahead="ca for ca in vm.getCourseActivityNames($viewValue)"
                    typeahead-focus-first="false" typeahead-on-select="vm.activitySelected($item, cs)"
                    typeahead-no-results="cf.noResults" typeahead-select-on-exact="true"
                    typeahead-select-on-blur="true" data-z-validate /> <!--typeahead-show-hint="true" is off for now as will have to fiddle with the left ?margin/padding ?tt-typeahed class? in the error state-->
            <div ng-show="cf.noResults">
                <i class="glyphicon glyphicon-remove"></i> No Existing Activities
            </div>
        </div>
    </td>
    <td class="form-group">
        <input class="form-control" type="number" step="1" z-validate ng-model="cs.minutesDuration"  ng-change="vm.resetExampleTimes(cf)">
    </td>
    <td>
        {{cs.exampleFinish | amDateFormat:'LT'}}
    </td>
    <td class="form-group">
        <input class="form-control" type="number" step="1" z-validate ng-model="cs.simultaneousStreams" >
    </td>
    <td class="form-group">
        <label class="control-label">
            <input type="checkbox" ng-model="cs.trackParticipants" class="checkbox-inline" />
        </label>
    </td>

    <td>
        <button type="button" class="btn-link" ng-disabled="cs.entityAspect.hasValidationErrors" ng-click="cf.selectedSlot = null">
            <i class="fa fa-check"></i>
        </button>
        |
        <button type="button" class="btn-link" ng-click="vm.removeSlot(cs)">
            <i class="fa fa-trash-o"></i>
        </button>
        |
        <div ng-include="'buttons'" style="display:inline"></div>
    </td>
</script>
