<div class="aside mainbox" id="activityResourceBox" tabindex="-1" role="dialog" ng-controller="activityResource as ar">
    <div class="aside-dialog">
        <div class="aside-content">
                <div class="aside-header">
                    <button class="close" type="button" ng-click="ar.close()">&times;</button>
                    <h4 class="aside-title">
                        {{ar.courseActivity.name}} choices
                    </h4>
                </div>
                <div class="aside-body">
                    <form id="courseParticipantForm">
                        <button type="button" class="btn-link" ng-click="ar.createActivityResource()">Create new choice</button>
                        <ul>
                            <li ng-repeat="ac in ar.courseActivity.activityChoices track by ac.id">
                                {{ac.name}} |
                                <button type="button" ng-click="ar.selectActivityResource(ac)" class="btn-link" >Edit</button> |
                                <button type="button" ng-click="ac.entityAspect.setDeleted()" class="btn-link" >Delete</button>
                            </li>
                        </ul>

                        <div class="form-group">
                            <label for="cpDepartment" class="control-label">Name</label>
                            <div>
                                <input type="text" id="cpDepartment" class="form-control" z-validate
                                       data-ng-model="ar.selectedActivityResource.name" />
                            </div>
                        </div>

                        <button class="btn btn-success" type="submit" ng-disabled="ar.disableSaveInclChildren()">Save</button>
                    </form>
                </div>
                <div class="aside-footer">

                </div>

        </div>
    </div>
</div>