<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Breeze.Server.ContextProvider" version="1.6.6" targetFramework="net462" />
  <package id="Breeze.Server.ContextProvider.EF6" version="1.6.6" targetFramework="net462" />
  <package id="DelegateDecompiler" version="0.23.0" targetFramework="net461" />
  <package id="DelegateDecompiler.EntityFramework" version="0.23.0" targetFramework="net461" />
  <package id="EntityFramework" version="6.2.0" targetFramework="net462" />
  <package id="Hangfire.Core" version="1.6.17" targetFramework="net462" />
  <package id="Hangfire.SqlServer" version="1.6.17" targetFramework="net462" />
  <package id="Jint" version="2.11.58" targetFramework="net462" />
  <package id="LinqKit" version="1.1.13" targetFramework="net462" />
  <package id="Microsoft.AspNet.WebApi.Client" version="5.2.3" targetFramework="net461" />
  <package id="Microsoft.AspNet.WebApi.Core" version="5.2.3" targetFramework="net461" />
  <package id="Microsoft.AspNet.WebApi.OData" version="5.7.0" targetFramework="net461" />
  <package id="Microsoft.Data.Edm" version="5.8.3" targetFramework="net462" />
  <package id="Microsoft.Data.OData" version="5.8.3" targetFramework="net462" />
  <package id="Mono.Reflection" version="1.1.0.0" targetFramework="net461" />
  <package id="Newtonsoft.Json" version="10.0.3" targetFramework="net461" />
  <package id="NLog" version="4.4.12" targetFramework="net462" />
  <package id="OpenXMLSDK-MOT" version="2.7.1" targetFramework="net461" />
  <package id="Owin" version="1.0" targetFramework="net461" />
  <package id="System.ComponentModel.Annotations" version="4.4.1" targetFramework="net462" />
  <package id="System.Spatial" version="5.8.3" targetFramework="net462" />
</packages>